section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 16px;
    border-radius: 8px;
    gap: 8px;
    border: 1px dashed rgba(215, 221, 233, 1);

    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-items: center;
        align-items: center;
        gap: 16px;

        label {
            color:rgba(0, 0, 0, 1);
        }

        input[type='checkbox'] {
            width: 24px;
            height: 24px;
            padding: 3px;
            border: 1px solid rgba(176, 187, 209, 1);
            border-radius: 4px;
            color: rgba(176, 187, 209, 1);
            accent-color: rgba(176, 187, 209, 1);
        }
    }

    .trash-btn {
        width: 24px;
        height: 24px;
        border: none;
        margin-left: auto;
        background: none;
    }
}