.modal-container {
    position: absolute;
    z-index: 1;
    top: -124px;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background: rgba(255, 255, 255, 0.8);

    .modal-content {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
        align-items: flex-start;
        width: 450px;
        height: fit-content;
        padding: 32px;
        gap: 32px;
        border-radius: 16px;
        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
        background-color: rgba(255, 255, 255, 1);
        
        .modal-title {
            font-size: 24px;
            font-weight: 500;
            line-height: 29.04px;
            letter-spacing: -0.02em;
            text-align: left;
        }
        
        fieldset {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-items: center;
            border: none;
            
            .label-modal {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.36px;
                letter-spacing: -0.02em;
                text-align: left;
            }
            
            .input-modal {
                width: 100%;
                height: 51px;
                padding: 16px ;
                gap: 16px;
                border-radius: 8px ;
                border: 1px solid #D7DDE9;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.36px;
                letter-spacing: -0.02em;
                text-align: left;
                margin-top: 8px;
                
                
                &::placeholder {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.36px;
                    letter-spacing: -0.02em;
                    text-align: left;
                }
            }

            .error-border {
                border: 1px solid #D30707;
                &:focus {
                    outline: 2px solid #FF2200;
                    outline-offset: -2px;
                }
            }

            .error-msg {
                font-size: 13px;
                font-weight: 400;
                line-height: 14.36px;
                letter-spacing: -0.02em;
                text-align: left;
                color: #D30707;
                padding: 4px;
            }
        }
        
        .subtitle-modal {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.02em;
            text-align: left;
            color: rgba(0, 0, 0, 0.54);
        }
        
        .btns-container {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            gap: 16px;
            
            button {
                width: 100%;
                height: 51px;
                padding: 16px 24px;
                border-radius: 8px ;
                border: none;
                background: #E7EEFB;
            }
            
            .add-btn {
                background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
                color: #FFFFFF;
            }
            
            .delete-btn {
                background: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
                color: #FFFFFF;
            }
        }
    }
}

.bg-user-modal {
    background-color: rgba(255, 255, 255);
}

@media (max-width: 768px) {
    .modal-container {
        top: -186px;
        background-color: rgba(255, 255, 255, 1);
        
        .modal-content {
            width: 100%;
            top: 0;
            left: 0;
            transform: none;
            border-radius: 0;
            box-shadow: none;
            border: none;

        .btns-container {
            flex-flow: column-reverse nowrap;
        }
    }
  }
}