.modal-container {
    position: absolute;
    z-index: 1;
    top: 249px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: flex-start;
    width: 450px;
    padding: 32px;
    gap: 32px;
    border-radius: 16px;
    box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
    background: rgba(255, 255, 255, 1);

    h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 29.04px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    fieldset {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
        border: none;

        label {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            letter-spacing: -0.02em;
            text-align: left;
        }

        input {
            width: 100%;
            height: 51px;
            padding: 16px ;
            gap: 16px;
            border-radius: 8px ;
            border: 1px solid #D7DDE9;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            letter-spacing: -0.02em;
            text-align: left;
            margin-top: 8px;


            &::placeholder {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.36px;
                letter-spacing: -0.02em;
                text-align: left;
            }
        }
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;
        color: rgba(0, 0, 0, 0.54);
    }

    div {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        gap: 16px;

        button {
            width: 100%;
            height: 51px;
            padding: 16px 24px;
            border-radius: 8px ;
            border: none;
            background: #E7EEFB;
        }

        .add-btn {
            background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
            color: #FFFFFF;
        }

        .delete-btn {
            background: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
            color: #FFFFFF;
        }
    }
}

.display-modal {
    display: none;
}

@media (max-width: 768px) {
    section {
        width: 100%;
        padding: 24px;
        box-shadow: none;

        div {
            flex-flow: column-reverse nowrap;
        }
    }
  }