.add-task-btn {
    background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
    color: #FFFFFF;
    width: 450px;
    height: 51px;
    padding: 16px 24px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: center;
}