.loading-modal {
    position: absolute;
    z-index: 1;
    top: -124px;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background: rgba(255, 255, 255);

    .loading-content {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 0%;
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
        align-items: center;
        width: 100vw;
        padding: 32px;
    }
}